// Settings go here

body {
  background-image: url(http://localhost:8080/harbor.jpg);
  background-size: cover;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  font-family: Verdana, sans-serif !important;
  padding: 6px;
  padding-top: 10px;
  font-size: 14px !important;
}

.gab-textarea {
  font-family: Verdana, sans-serif;
  padding: 8px;
  font-size: 14px;
}

.gab-map {
  margin-top: 51px;
}

.gab-message {
  margin: 100px;
  margin-left: 150px;
  margin-right: 150px;
  font-size: 24px;
  background: rgb(255, 255, 255);
  background: rgba(255,255,255,.5);
}

.gab-message p {
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 900px) {
  .gab-message {
    margin: 50px;
    margin-top: 75px;
  }

  .gab-message p {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 620px) {

  .gab-message {
    margin: 5px;
    margin-top: 60px;
    font-size: 18px;
    background: rgb(255,255,255);
    background: rgba(255,255,255,.6);
  }

  .gab-message p {
    padding-left: 5px;
    padding-right: 5px;
  }
}